requests
speech-recognition
pypi-json
os
pycopy-webbrowser
python-dotenv
pyttsx3
Flask
PyAutoGUI
pillow
PyPDF2
selenium
DateTime
googletrans
psutil
deepface
pathlib
opencv-python
youtube-transcript-api
beautifulsoup4
screen-brightness-control