<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R.O.L.E.X</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
    <script src="https://kit.fontawesome.com/618758b97a.js" crossorigin="anonymous"></script>
</head>

<body>

    <Section class="Navigation-bar">
        <div class="navbar">
            <div class="logo">
                <img src="{{ url_for('static', filename='Rolex.png') }}" alt="">
            </div>
            <ul>
                
                <li><a href=""><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="contact"><i class="fa-solid fa-phone"></i> Contact</a></li>
                <li><a href="#"><i class="fa-solid fa-circle-info"></i> About</a></li>
                <li class="logbtn"><a href="login"><i class="fa-solid fa-user"></i>  Log In</a></li>
                
            </ul>
        </div>
    </Section>
    <section class="about-section">
        <h2>About Us</h2>
        <div class="about-project">
            <p>Welcome to Rolex !!</p>
        
        <p id="project-cap">At Rolex, we are committed to revolutionizing the way you interact with technology. Our mission is to create a personal voice assistant that understands your needs, simplifies your daily tasks, and enhances your lifestyle.</p>
        </div>
        <br>
        <div class="about-details">
            <p><i class="fa-solid fa-face-smile"></i><br><h4>Who We Are</h4></p>
            
            <br>
            <p>We are a diverse team of AI enthusiasts, software developers, and user experience designers, united by a passion for innovation. With backgrounds in technology and a focus on user-centric design, we aim to deliver a seamless, intuitive voice assistant that feels like a natural extension of your day-to-day life.</p>
        </div>
        <div class="about-details">
            <p><i class="fa-solid fa-eye-low-vision"></i><br><h4>Our Vision</h4></p>
            
            <br>
            <p>We envision a world where technology is effortless and accessible. Our voice assistant is designed to learn from you, adapt to your preferences, and provide personalized support—whether it’s managing your schedule, answering questions, or controlling smart home devices.
            </p>
        </div>
        <div class="about-details">
            <p><i class="fa-solid fa-plane-departure"></i><br><h4>Join Us On This Journey</h4></p>
            
            <br>
            <p>As we continue to evolve and improve, we invite you to be part of our community. Your feedback and insights are invaluable in shaping a voice assistant that truly works for you.</p>
        </div>
        <p id="thankmsg">
            Thank you for exploring Rolex together, let’s make technology a little more human. <i class="fa-solid fa-handshake"></i>
        </p>

    </section>
    <footer>
        <p>&copy; 2024 @group 2. All rights reserved.</p>
    </footer>
</body>

</html>