<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R.O.L.E.X</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
    <script src="https://kit.fontawesome.com/618758b97a.js" crossorigin="anonymous"></script>
</head>

<body>

    <Section class="Navigation-bar">
        <div class="navbar">
            <div class="logo">
                <img src="{{ url_for('static', filename='Rolex.png') }}" alt="">
            </div>
            <ul>
                
                <li><a href="/"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="#"><i class="fa-solid fa-phone"></i> Contact</a></li>
                <li><a href="about"><i class="fa-solid fa-circle-info"></i> About</a></li>
                <li class="logbtn"><a href="login"><i class="fa-solid fa-user"></i>  Log In</a></li>
                
            </ul>
        </div>
    </Section>
    <section class="contact-section">
        <h2>Contact Our Developers</h2>
        <div class="sub-office">
            <h3>Amol Ingole</h3>
            <p>Mobile Number : +91 9322494606</p>
            <p>Email : amol40226@gmail.com</p>
            <p><a
                href="https://www.linkedin.com/in/amol-ingole-4b61bb283?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BQq%2BtyoR5Rk6Sp5MacnGbZg%3D%3D"
                target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a></p>
        </div>
        <div class="sub-office">
            <h3>Karan Ghuge</h3>
            <p>Mobile Number : +91 9356524327</p>
            <p>Email : gkaran9356@gmail.com</p>
            <p><a
                href="https://www.linkedin.com/in/karan-ghuge-aaa851317?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a></p>

        </div>
        <div class="sub-office">
            <h3>Ravikiran Tirnagarwar</h3>
             
            <p>Mobile Number : +91 8799965710</p>
            <p>Email : ravitirnagarwar99@gmail.com</p>
            <p><a
                href="https://www.linkedin.com/in/ravikiran-tirnagarwar-7130a42aa?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a></p>
        </div>

    </section>
    <footer>
        <p>&copy; 2024 @group 2. All rights reserved.</p>
    </footer>
</body>

</html>