<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>R.O.L.E.X</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='input.css') }}">
        <script src="{{ url_for('static', filename='input.js') }}"></script>
        <script src="https://kit.fontawesome.com/618758b97a.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <Section class="Navigation-bar">
            <div class="navbar">
                <div class="logo">
                    <img src="{{ url_for('static', filename='Rolex.png') }}" alt="">
                </div>
                <ul>
                    
                    <li><a href="index"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="contact"><i class="fa-solid fa-phone"></i> Contact</a></li>
                <li><a href="about"><i class="fa-solid fa-circle-info"></i> About</a></li>
                <li class="logbtn"><a href="logout"><i class="fa-solid fa-user"></i>  Log out</a></li>
                    
                </ul>
            </div>
        </Section>

        <section class="header">

            <!-- <video width="400" autoplay>
                <source src="/img/backgroundvideo.mp4" type="video/mp4">
                
                
              </video> -->
              <video id="background-video" src="{{ url_for('static', filename='siri (online-video-cutter.com).mp4') }}" autoplay loop type="video/mp4" muted>
                
                
            </video>
            <div class="details">
            <h1>R.O.L.E.X</h1>
            <br>
            <h3>Hello {{user_name}} !!!</h3>
            </div>

            <div class="voice-controls">
                <div class="voice-select-container">
                    <select id="voice-select"></select>
                </div>
                <div class="speech-toggle-container">
                    <span>ROLEX Speech:</span>
                    <label class="switch">
                        <input type="checkbox" id="speech-toggle" checked>
                        <span class="slider"></span>
                    </label>
                </div>
            </div>

            <div class="inputfooter">
                <p class="upload-btn-wrapper">
                    <button class="subbtn"><i class="fa-solid fa-file"></i></i>&nbsp;&nbsp;</i>Upload a file</button>
                    <input type="file" name="myfile" />
                </p>

                <p class="searchbar">
                    <input type="search" name="" id="" placeholder="Enter the command....">                   
                </p>
                <p>
                    <i id="micButton" class="fa-solid fa-microphone"></i>
                </p>
                <div id="voice-wave" class="voice-wave">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <button id="stop-button">
                    <i class="fa-solid fa-stop"></i>
                </button>
            </div>

        </section>
        
    </body>
</html>
